@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  /* background-color: #092C48; */
  background-color: #E0E0E0;
  scroll-behavior: smooth;
  font-family: 'Jost', sans-serif;
}

.custom-img {
  background-image: url('../../public/images/infinite-void-logo-v8-01.png');
  background-position: center;
  background-size: contain;
  /* padding: 2px; */
  margin: 20px;
}

body {
  font-family: 'Jost', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #E0E0E0;
  /* background-color: #092C48; */
}

#bg {
  background-position: center;
  background-image: url('../../public/images/infinite-void-logo-v8-01.png');
  background-size: contain;
  z-index: -999;
}

h2 {
  position: relative;
  /* color: black; */
}

p {
  position: relative;
  /* color: black; */
}

.logo-img {
  background-image: url('../../public/images/newLogo.jpg');
  background-position: center;
  background-size: contain;
  z-index: -999;
}